* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

:root {
  font-size: 62.5%;
  --purple: #c866a0ff;
  --dark-blue: #265490ff;
  --clear-blue: #45c3caff;
  --green: #20ac8cff;
  --tangerine: #f59465ff;
  --white: #fbf4f4;
}

body {
  font-size: 1.6rem;
}

/* Background */
.magicpattern {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3Cfilter id=%22b%22 x=%22-200%25%22 y=%22-200%25%22 width=%22500%25%22 height=%22500%25%22%3E%3CfeGaussianBlur in=%22SourceGraphic%22 stdDeviation=%2220%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cpath fill=%22%23000336%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cellipse cx=%2276.846%22 cy=%2216.499%22 rx=%221.794%22 ry=%221.663%22 fill=%22%23fff%22 opacity=%22-.079%22%2F%3E%3Cellipse cx=%22240.667%22 cy=%2286.637%22 rx=%222.04%22 ry=%221.882%22 fill=%22%23fff%22 opacity=%22.439%22%2F%3E%3Cellipse cx=%22311.482%22 cy=%228.446%22 rx=%221.257%22 ry=%221.015%22 fill=%22%23fff%22 opacity=%22.745%22%2F%3E%3Cellipse cx=%22431.974%22 cy=%2247.316%22 rx=%221.454%22 ry=%221.33%22 fill=%22%23fff%22 opacity=%22.322%22%2F%3E%3Cellipse cx=%22552.029%22 cy=%2254.375%22 rx=%221.52%22 ry=%221.442%22 fill=%22%23fff%22 opacity=%22.703%22%2F%3E%3Cellipse cx=%22713.833%22 cy=%224.038%22 rx=%221.881%22 ry=%221.426%22 fill=%22%23fff%22 opacity=%22.43%22%2F%3E%3Cellipse cx=%22874.082%22 cy=%2223.697%22 rx=%221.595%22 ry=%221.248%22 fill=%22%23fff%22 opacity=%22.374%22%2F%3E%3Cellipse cx=%22996.988%22 cy=%2237.639%22 rx=%221.676%22 ry=%221.284%22 fill=%22%23fff%22 opacity=%22.76%22%2F%3E%3Cellipse cx=%221120.675%22 cy=%2271.03%22 rx=%221.357%22 ry=%221.27%22 fill=%22%23fff%22 opacity=%22-.216%22%2F%3E%3Cellipse cx=%221189.849%22 cy=%2221.719%22 rx=%221.609%22 ry=%221.259%22 fill=%22%23fff%22 opacity=%22-.019%22%2F%3E%3Cellipse cx=%221370.771%22 cy=%2260.757%22 rx=%221.529%22 ry=%221.234%22 fill=%22%23fff%22 opacity=%22.258%22%2F%3E%3Cellipse cx=%221485.027%22 cy=%2279.943%22 rx=%221.937%22 ry=%221.449%22 fill=%22%23fff%22 opacity=%22.476%22%2F%3E%3Cellipse cx=%221541.14%22 cy=%2224.571%22 rx=%221.884%22 ry=%221.559%22 fill=%22%23fff%22 opacity=%22.172%22%2F%3E%3Cellipse cx=%221747.601%22 cy=%2238.786%22 rx=%221.54%22 ry=%221.119%22 fill=%22%23fff%22 opacity=%22.292%22%2F%3E%3Cellipse cx=%221866.403%22 cy=%2286.807%22 rx=%222.229%22 ry=%221.95%22 fill=%22%23fff%22 opacity=%22.672%22%2F%3E%3Cellipse cx=%221965.904%22 cy=%2273.084%22 rx=%222.127%22 ry=%221.683%22 fill=%22%23fff%22 opacity=%22.03%22%2F%3E%3Cellipse cx=%2220.967%22 cy=%22117.46%22 rx=%222.04%22 ry=%221.82%22 fill=%22%23fff%22 opacity=%22-.112%22%2F%3E%3Cellipse cx=%22241.722%22 cy=%22136.046%22 rx=%221.162%22 ry=%221.003%22 fill=%22%23fff%22 opacity=%22.131%22%2F%3E%3Cellipse cx=%22324.919%22 cy=%22157.882%22 rx=%221.499%22 ry=%221.039%22 fill=%22%23fff%22 opacity=%22.153%22%2F%3E%3Cellipse cx=%22416.169%22 cy=%22118.138%22 rx=%222.203%22 ry=%221.982%22 fill=%22%23fff%22 opacity=%22.09%22%2F%3E%3Cellipse cx=%22616.415%22 cy=%22135.106%22 rx=%222.116%22 ry=%221.995%22 fill=%22%23fff%22 opacity=%22.492%22%2F%3E%3Cellipse cx=%22720.737%22 cy=%22136.479%22 rx=%222.162%22 ry=%221.892%22 fill=%22%23fff%22 opacity=%22.298%22%2F%3E%3Cellipse cx=%22767.108%22 cy=%22120.552%22 rx=%221.447%22 ry=%221.019%22 fill=%22%23fff%22 opacity=%22.254%22%2F%3E%3Cellipse cx=%22913.758%22 cy=%2299.056%22 rx=%221.775%22 ry=%221.631%22 fill=%22%23fff%22 opacity=%22.261%22%2F%3E%3Cellipse cx=%221087.862%22 cy=%22168.318%22 rx=%221.508%22 ry=%221.012%22 fill=%22%23fff%22 opacity=%22.535%22%2F%3E%3Cellipse cx=%221142.532%22 cy=%22166.459%22 rx=%221.993%22 ry=%221.697%22 fill=%22%23fff%22 opacity=%22-.057%22%2F%3E%3Cellipse cx=%221260.603%22 cy=%22132.949%22 rx=%222.286%22 ry=%221.883%22 fill=%22%23fff%22 opacity=%22.127%22%2F%3E%3Cellipse cx=%221426.64%22 cy=%22141.727%22 rx=%222.074%22 ry=%221.652%22 fill=%22%23fff%22 opacity=%22.434%22%2F%3E%3Cellipse cx=%221551.686%22 cy=%22140.675%22 rx=%221.697%22 ry=%221.66%22 fill=%22%23fff%22 opacity=%22-.107%22%2F%3E%3Cellipse cx=%221691.699%22 cy=%22106.957%22 rx=%221.676%22 ry=%221.641%22 fill=%22%23fff%22 opacity=%22.219%22%2F%3E%3Cellipse cx=%221769.064%22 cy=%22150.431%22 rx=%222.102%22 ry=%221.923%22 fill=%22%23fff%22 opacity=%22.604%22%2F%3E%3Cellipse cx=%221944.361%22 cy=%22118.386%22 rx=%221.39%22 ry=%221.02%22 fill=%22%23fff%22 opacity=%22-.206%22%2F%3E%3Cellipse cx=%2266.013%22 cy=%22211.044%22 rx=%222.13%22 ry=%221.783%22 fill=%22%23fff%22 opacity=%22.751%22%2F%3E%3Cellipse cx=%22153.967%22 cy=%22209.354%22 rx=%221.824%22 ry=%221.613%22 fill=%22%23fff%22 opacity=%22.694%22%2F%3E%3Cellipse cx=%22311.941%22 cy=%22220.773%22 rx=%221.391%22 ry=%221.256%22 fill=%22%23fff%22 opacity=%22.595%22%2F%3E%3Cellipse cx=%22390.809%22 cy=%22249.664%22 rx=%221.994%22 ry=%221.734%22 fill=%22%23fff%22 opacity=%22.71%22%2F%3E%3Cellipse cx=%22607.623%22 cy=%22227.643%22 rx=%222.006%22 ry=%221.829%22 fill=%22%23fff%22 opacity=%22.006%22%2F%3E%3Cellipse cx=%22706.552%22 cy=%22250.619%22 rx=%222.191%22 ry=%221.799%22 fill=%22%23fff%22 opacity=%22.765%22%2F%3E%3Cellipse cx=%22871.483%22 cy=%22208.874%22 rx=%221.537%22 ry=%221.099%22 fill=%22%23fff%22 opacity=%22.707%22%2F%3E%3Cellipse cx=%22895.565%22 cy=%22241.115%22 rx=%221.712%22 ry=%221.37%22 fill=%22%23fff%22 opacity=%22.395%22%2F%3E%3Cellipse cx=%221103.038%22 cy=%22232.636%22 rx=%221.872%22 ry=%221.399%22 fill=%22%23fff%22 opacity=%22.909%22%2F%3E%3Cellipse cx=%221183.747%22 cy=%22243.063%22 rx=%221.545%22 ry=%221.116%22 fill=%22%23fff%22 opacity=%22.704%22%2F%3E%3Cellipse cx=%221301.897%22 cy=%22217.309%22 rx=%222.059%22 ry=%221.759%22 fill=%22%23fff%22 opacity=%22-.114%22%2F%3E%3Cellipse cx=%221385.471%22 cy=%22185.132%22 rx=%221.265%22 ry=%221.235%22 fill=%22%23fff%22 opacity=%22.315%22%2F%3E%3Cellipse cx=%221586.444%22 cy=%22211.633%22 rx=%221.869%22 ry=%221.532%22 fill=%22%23fff%22 opacity=%22.673%22%2F%3E%3Cellipse cx=%221697.704%22 cy=%22259.922%22 rx=%221.95%22 ry=%221.715%22 fill=%22%23fff%22 opacity=%22-.053%22%2F%3E%3Cellipse cx=%221786.391%22 cy=%22238.337%22 rx=%221.639%22 ry=%221.498%22 fill=%22%23fff%22 opacity=%22.825%22%2F%3E%3Cellipse cx=%221950.847%22 cy=%22232.479%22 rx=%222.279%22 ry=%221.795%22 fill=%22%23fff%22 opacity=%22.516%22%2F%3E%3Cellipse cx=%221.888%22 cy=%22288.598%22 rx=%221.673%22 ry=%221.402%22 fill=%22%23fff%22 opacity=%22.319%22%2F%3E%3Cellipse cx=%22187.448%22 cy=%22344.139%22 rx=%221.711%22 ry=%221.371%22 fill=%22%23fff%22 opacity=%22.454%22%2F%3E%3Cellipse cx=%22288.924%22 cy=%22296.746%22 rx=%221.849%22 ry=%221.621%22 fill=%22%23fff%22 opacity=%22.403%22%2F%3E%3Cellipse cx=%22456.699%22 cy=%22300.619%22 rx=%221.114%22 ry=%221.032%22 fill=%22%23fff%22 opacity=%22.059%22%2F%3E%3Cellipse cx=%22541.14%22 cy=%22314.49%22 rx=%221.557%22 ry=%221.067%22 fill=%22%23fff%22 opacity=%22.826%22%2F%3E%3Cellipse cx=%22640.218%22 cy=%22267.688%22 rx=%221.486%22 ry=%221.231%22 fill=%22%23fff%22 opacity=%22.609%22%2F%3E%3Cellipse cx=%22754.711%22 cy=%22337.295%22 rx=%222.257%22 ry=%221.953%22 fill=%22%23fff%22 opacity=%22.37%22%2F%3E%3Cellipse cx=%22963.876%22 cy=%22316.85%22 rx=%222.056%22 ry=%221.991%22 fill=%22%23fff%22 opacity=%22.801%22%2F%3E%3Cellipse cx=%221058.124%22 cy=%22334.262%22 rx=%221.427%22 ry=%221.182%22 fill=%22%23fff%22 opacity=%22.038%22%2F%3E%3Cellipse cx=%221186.305%22 cy=%22264.557%22 rx=%222.176%22 ry=%221.963%22 fill=%22%23fff%22 opacity=%22.251%22%2F%3E%3Cellipse cx=%221283.904%22 cy=%22289.719%22 rx=%221.685%22 ry=%221.476%22 fill=%22%23fff%22 opacity=%22-.059%22%2F%3E%3Cellipse cx=%221487.294%22 cy=%22302.384%22 rx=%221.433%22 ry=%221.352%22 fill=%22%23fff%22 opacity=%22.483%22%2F%3E%3Cellipse cx=%221570.953%22 cy=%22306.862%22 rx=%221.965%22 ry=%221.625%22 fill=%22%23fff%22 opacity=%22.361%22%2F%3E%3Cellipse cx=%221673.242%22 cy=%22278.166%22 rx=%221.631%22 ry=%221.251%22 fill=%22%23fff%22 opacity=%22.004%22%2F%3E%3Cellipse cx=%221859.267%22 cy=%22292.843%22 rx=%221.971%22 ry=%221.824%22 fill=%22%23fff%22 opacity=%22.653%22%2F%3E%3Cellipse cx=%221900.543%22 cy=%22300.372%22 rx=%221.561%22 ry=%221.1%22 fill=%22%23fff%22 opacity=%22.332%22%2F%3E%3Cellipse cx=%2247.707%22 cy=%22356.786%22 rx=%222.201%22 ry=%221.907%22 fill=%22%23fff%22 opacity=%22.17%22%2F%3E%3Cellipse cx=%22143.315%22 cy=%22398.387%22 rx=%221.825%22 ry=%221.545%22 fill=%22%23fff%22 opacity=%22.708%22%2F%3E%3Cellipse cx=%22290.83%22 cy=%22370.236%22 rx=%221.527%22 ry=%221.467%22 fill=%22%23fff%22 opacity=%22.081%22%2F%3E%3Cellipse cx=%22424.404%22 cy=%22428.449%22 rx=%221.822%22 ry=%221.561%22 fill=%22%23fff%22 opacity=%22.402%22%2F%3E%3Cellipse cx=%22528.431%22 cy=%22428.603%22 rx=%221.511%22 ry=%221.508%22 fill=%22%23fff%22 opacity=%22.215%22%2F%3E%3Cellipse cx=%22818.915%22 cy=%22408.156%22 rx=%221.949%22 ry=%221.915%22 fill=%22%23fff%22 opacity=%22.146%22%2F%3E%3Cellipse cx=%22998.218%22 cy=%22355.475%22 rx=%221.761%22 ry=%221.613%22 fill=%22%23fff%22 opacity=%22-.218%22%2F%3E%3Cellipse cx=%221121.77%22 cy=%22426.555%22 rx=%221.729%22 ry=%221.368%22 fill=%22%23fff%22 opacity=%22.498%22%2F%3E%3Cellipse cx=%221164.203%22 cy=%22407.197%22 rx=%221.841%22 ry=%221.365%22 fill=%22%23fff%22 opacity=%22.88%22%2F%3E%3Cellipse cx=%221333.228%22 cy=%22424.092%22 rx=%221.74%22 ry=%221.512%22 fill=%22%23fff%22 opacity=%22-.089%22%2F%3E%3Cellipse cx=%221398.398%22 cy=%22415.739%22 rx=%222.034%22 ry=%221.786%22 fill=%22%23fff%22 opacity=%22.623%22%2F%3E%3Cellipse cx=%221607.113%22 cy=%22392.189%22 rx=%221.885%22 ry=%221.883%22 fill=%22%23fff%22 opacity=%22.728%22%2F%3E%3Cellipse cx=%221692.333%22 cy=%22388.116%22 rx=%221.889%22 ry=%221.605%22 fill=%22%23fff%22 opacity=%22-.031%22%2F%3E%3Cellipse cx=%221768.015%22 cy=%22400.903%22 rx=%221.419%22 ry=%221.161%22 fill=%22%23fff%22 opacity=%22.662%22%2F%3E%3Cellipse cx=%221949.947%22 cy=%22428.194%22 rx=%221.334%22 ry=%221.196%22 fill=%22%23fff%22 opacity=%22.455%22%2F%3E%3Cellipse cx=%22123.278%22 cy=%22496.828%22 rx=%221.917%22 ry=%221.622%22 fill=%22%23fff%22 opacity=%22.431%22%2F%3E%3Cellipse cx=%22130.059%22 cy=%22467.123%22 rx=%222.11%22 ry=%221.784%22 fill=%22%23fff%22 opacity=%22-.132%22%2F%3E%3Cellipse cx=%22360.57%22 cy=%22461.735%22 rx=%221.599%22 ry=%221.531%22 fill=%22%23fff%22 opacity=%22.228%22%2F%3E%3Cellipse cx=%22497.437%22 cy=%22480.516%22 rx=%221.635%22 ry=%221.165%22 fill=%22%23fff%22 opacity=%22.431%22%2F%3E%3Cellipse cx=%22506.454%22 cy=%22524.956%22 rx=%222.065%22 ry=%221.817%22 fill=%22%23fff%22 opacity=%22.907%22%2F%3E%3Cellipse cx=%22745.607%22 cy=%22495.586%22 rx=%222.473%22 ry=%221.975%22 fill=%22%23fff%22 opacity=%22.096%22%2F%3E%3Cellipse cx=%22779.088%22 cy=%22486.847%22 rx=%221.539%22 ry=%221.121%22 fill=%22%23fff%22 opacity=%22-.023%22%2F%3E%3Cellipse cx=%22966.696%22 cy=%22488.485%22 rx=%221.647%22 ry=%221.635%22 fill=%22%23fff%22 opacity=%22.617%22%2F%3E%3Cellipse cx=%221054.791%22 cy=%22448.894%22 rx=%222.367%22 ry=%221.973%22 fill=%22%23fff%22 opacity=%22.601%22%2F%3E%3Cellipse cx=%221204.647%22 cy=%22485.042%22 rx=%221.472%22 ry=%221.337%22 fill=%22%23fff%22 opacity=%22.585%22%2F%3E%3Cellipse cx=%221341.367%22 cy=%22449.543%22 rx=%222.263%22 ry=%221.96%22 fill=%22%23fff%22 opacity=%22-.183%22%2F%3E%3Cellipse cx=%221375.941%22 cy=%22525.1%22 rx=%221.385%22 ry=%221.107%22 fill=%22%23fff%22 opacity=%22.373%22%2F%3E%3Cellipse cx=%221569.347%22 cy=%22478.36%22 rx=%221.687%22 ry=%221.675%22 fill=%22%23fff%22 opacity=%22.016%22%2F%3E%3Cellipse cx=%221678.348%22 cy=%22513.177%22 rx=%221.927%22 ry=%221.755%22 fill=%22%23fff%22 opacity=%22.812%22%2F%3E%3Cellipse cx=%221776.466%22 cy=%22447.515%22 rx=%221.539%22 ry=%221.387%22 fill=%22%23fff%22 opacity=%22.831%22%2F%3E%3Cellipse cx=%221960.33%22 cy=%22472.808%22 rx=%221.804%22 ry=%221.366%22 fill=%22%23fff%22 opacity=%22.24%22%2F%3E%3Cellipse cx=%2211.589%22 cy=%22595.687%22 rx=%222.232%22 ry=%221.958%22 fill=%22%23fff%22 opacity=%22.12%22%2F%3E%3Cellipse cx=%22202.803%22 cy=%22550.353%22 rx=%222.224%22 ry=%221.784%22 fill=%22%23fff%22 opacity=%22.719%22%2F%3E%3Cellipse cx=%22263.012%22 cy=%22537.943%22 rx=%221.567%22 ry=%221.39%22 fill=%22%23fff%22 opacity=%22.735%22%2F%3E%3Cellipse cx=%22375.006%22 cy=%22587.867%22 rx=%222.059%22 ry=%221.795%22 fill=%22%23fff%22 opacity=%22.902%22%2F%3E%3Cellipse cx=%22524.112%22 cy=%22600.835%22 rx=%221.648%22 ry=%221.437%22 fill=%22%23fff%22 opacity=%22.369%22%2F%3E%3Cellipse cx=%22740.604%22 cy=%22577.938%22 rx=%222.002%22 ry=%221.665%22 fill=%22%23fff%22 opacity=%22.289%22%2F%3E%3Cellipse cx=%22814.819%22 cy=%22558.456%22 rx=%221.47%22 ry=%221.084%22 fill=%22%23fff%22 opacity=%22.957%22%2F%3E%3Cellipse cx=%22980.388%22 cy=%22615.875%22 rx=%221.809%22 ry=%221.337%22 fill=%22%23fff%22 opacity=%22.059%22%2F%3E%3Cellipse cx=%221058.278%22 cy=%22554.892%22 rx=%222.132%22 ry=%221.873%22 fill=%22%23fff%22 opacity=%22.46%22%2F%3E%3Cellipse cx=%221210.139%22 cy=%22589.939%22 rx=%222.044%22 ry=%221.598%22 fill=%22%23fff%22 opacity=%22.504%22%2F%3E%3Cellipse cx=%221265.064%22 cy=%22529.018%22 rx=%221.669%22 ry=%221.189%22 fill=%22%23fff%22 opacity=%22.285%22%2F%3E%3Cellipse cx=%221398.671%22 cy=%22577.639%22 rx=%221.473%22 ry=%221.016%22 fill=%22%23fff%22 opacity=%22-.232%22%2F%3E%3Cellipse cx=%221540.009%22 cy=%22536.324%22 rx=%221.63%22 ry=%221.594%22 fill=%22%23fff%22 opacity=%22.145%22%2F%3E%3Cellipse cx=%221662.351%22 cy=%22577.189%22 rx=%222.243%22 ry=%221.916%22 fill=%22%23fff%22 opacity=%22.667%22%2F%3E%3Cellipse cx=%221782.778%22 cy=%22548.916%22 rx=%221.832%22 ry=%221.606%22 fill=%22%23fff%22 opacity=%22.216%22%2F%3E%3Cellipse cx=%221982.407%22 cy=%22564.276%22 rx=%221.377%22 ry=%221.073%22 fill=%22%23fff%22 opacity=%22.479%22%2F%3E%3Cellipse cx=%2292.182%22 cy=%22664.91%22 rx=%221.597%22 ry=%221.552%22 fill=%22%23fff%22 opacity=%22.338%22%2F%3E%3Cellipse cx=%22210.324%22 cy=%22696.988%22 rx=%221.321%22 ry=%221.307%22 fill=%22%23fff%22 opacity=%22.25%22%2F%3E%3Cellipse cx=%22360.263%22 cy=%22650.229%22 rx=%222.199%22 ry=%221.883%22 fill=%22%23fff%22 opacity=%22.252%22%2F%3E%3Cellipse cx=%22489.686%22 cy=%22696.543%22 rx=%221.417%22 ry=%221.057%22 fill=%22%23fff%22 opacity=%22.72%22%2F%3E%3Cellipse cx=%22531.033%22 cy=%22617.061%22 rx=%221.927%22 ry=%221.811%22 fill=%22%23fff%22 opacity=%22.647%22%2F%3E%3Cellipse cx=%22635.453%22 cy=%22667.107%22 rx=%221.27%22 ry=%221.093%22 fill=%22%23fff%22 opacity=%22.408%22%2F%3E%3Cellipse cx=%22823.085%22 cy=%22650.935%22 rx=%222.264%22 ry=%221.933%22 fill=%22%23fff%22 opacity=%22-.025%22%2F%3E%3Cellipse cx=%22979.353%22 cy=%22677.586%22 rx=%221.153%22 ry=%221.01%22 fill=%22%23fff%22 opacity=%22.886%22%2F%3E%3Cellipse cx=%221047.113%22 cy=%22639.716%22 rx=%222.075%22 ry=%221.699%22 fill=%22%23fff%22 opacity=%22.567%22%2F%3E%3Cellipse cx=%221192.896%22 cy=%22664.684%22 rx=%221.584%22 ry=%221.199%22 fill=%22%23fff%22 opacity=%22.266%22%2F%3E%3Cellipse cx=%221336.073%22 cy=%22681.241%22 rx=%221.211%22 ry=%221.152%22 fill=%22%23fff%22 opacity=%22.138%22%2F%3E%3Cellipse cx=%221410.579%22 cy=%22622.36%22 rx=%221.939%22 ry=%221.713%22 fill=%22%23fff%22 opacity=%22-.116%22%2F%3E%3Cellipse cx=%221538.276%22 cy=%22689.041%22 rx=%222.026%22 ry=%221.861%22 fill=%22%23fff%22 opacity=%22.29%22%2F%3E%3Cellipse cx=%221702.275%22 cy=%22695.345%22 rx=%221.46%22 ry=%221.458%22 fill=%22%23fff%22 opacity=%22.602%22%2F%3E%3Cellipse cx=%221800.316%22 cy=%22659.355%22 rx=%221.763%22 ry=%221.611%22 fill=%22%23fff%22 opacity=%22.126%22%2F%3E%3Cellipse cx=%221926.695%22 cy=%22651.115%22 rx=%222.047%22 ry=%221.612%22 fill=%22%23fff%22 opacity=%22.123%22%2F%3E%3Cellipse cx=%2298.245%22 cy=%22709.641%22 rx=%222.028%22 ry=%221.863%22 fill=%22%23fff%22 opacity=%22.12%22%2F%3E%3Cellipse cx=%22139.869%22 cy=%22741.829%22 rx=%222.166%22 ry=%221.964%22 fill=%22%23fff%22 opacity=%22.299%22%2F%3E%3Cellipse cx=%22312.613%22 cy=%22778.133%22 rx=%221.363%22 ry=%221.148%22 fill=%22%23fff%22 opacity=%22.752%22%2F%3E%3Cellipse cx=%22405.61%22 cy=%22769.65%22 rx=%221.72%22 ry=%221.59%22 fill=%22%23fff%22 opacity=%22.24%22%2F%3E%3Cellipse cx=%22578.263%22 cy=%22743.532%22 rx=%221.928%22 ry=%221.715%22 fill=%22%23fff%22 opacity=%22.322%22%2F%3E%3Cellipse cx=%22645.705%22 cy=%22773.98%22 rx=%221.463%22 ry=%221.319%22 fill=%22%23fff%22 opacity=%22.373%22%2F%3E%3Cellipse cx=%22811.011%22 cy=%22781.568%22 rx=%221.24%22 ry=%221.071%22 fill=%22%23fff%22 opacity=%22.269%22%2F%3E%3Cellipse cx=%22880.055%22 cy=%22751.31%22 rx=%221.359%22 ry=%221.123%22 fill=%22%23fff%22 opacity=%22.068%22%2F%3E%3Cellipse cx=%221077.732%22 cy=%22791.237%22 rx=%221.856%22 ry=%221.608%22 fill=%22%23fff%22 opacity=%22.218%22%2F%3E%3Cellipse cx=%221249.007%22 cy=%22761.082%22 rx=%221.109%22 ry=%221.045%22 fill=%22%23fff%22 opacity=%22.059%22%2F%3E%3Cellipse cx=%221336.947%22 cy=%22781.641%22 rx=%221.827%22 ry=%221.484%22 fill=%22%23fff%22 opacity=%22.039%22%2F%3E%3Cellipse cx=%221487.96%22 cy=%22771.667%22 rx=%221.938%22 ry=%221.828%22 fill=%22%23fff%22 opacity=%22.224%22%2F%3E%3Cellipse cx=%221601.397%22 cy=%22777.947%22 rx=%221.619%22 ry=%221.325%22 fill=%22%23fff%22 opacity=%22.051%22%2F%3E%3Cellipse cx=%221699.308%22 cy=%22741.719%22 rx=%222.107%22 ry=%221.617%22 fill=%22%23fff%22 opacity=%22.816%22%2F%3E%3Cellipse cx=%221774.216%22 cy=%22776.558%22 rx=%222.292%22 ry=%221.895%22 fill=%22%23fff%22 opacity=%22.44%22%2F%3E%3Cellipse cx=%221925.675%22 cy=%22765.14%22 rx=%221.166%22 ry=%221.013%22 fill=%22%23fff%22 opacity=%22.613%22%2F%3E%3Cellipse cx=%22119.642%22 cy=%22878.781%22 rx=%221.495%22 ry=%221.252%22 fill=%22%23fff%22 opacity=%22.262%22%2F%3E%3Cellipse cx=%22168.811%22 cy=%22868.574%22 rx=%221.364%22 ry=%221.184%22 fill=%22%23fff%22 opacity=%22.457%22%2F%3E%3Cellipse cx=%22278.284%22 cy=%22849.974%22 rx=%221.531%22 ry=%221.314%22 fill=%22%23fff%22 opacity=%22.403%22%2F%3E%3Cellipse cx=%22390.395%22 cy=%22871.647%22 rx=%222.322%22 ry=%221.983%22 fill=%22%23fff%22 opacity=%22.161%22%2F%3E%3Cellipse cx=%22535%22 cy=%22863.001%22 rx=%221.278%22 ry=%221.242%22 fill=%22%23fff%22 opacity=%22.627%22%2F%3E%3Cellipse cx=%22673.264%22 cy=%22821.778%22 rx=%222.053%22 ry=%221.812%22 fill=%22%23fff%22 opacity=%22-.201%22%2F%3E%3Cellipse cx=%22802.352%22 cy=%22853.309%22 rx=%221.401%22 ry=%221.315%22 fill=%22%23fff%22 opacity=%22.542%22%2F%3E%3Cellipse cx=%22983.308%22 cy=%22865.31%22 rx=%221.416%22 ry=%221.355%22 fill=%22%23fff%22 opacity=%22.104%22%2F%3E%3Cellipse cx=%221103.763%22 cy=%22806.56%22 rx=%222.083%22 ry=%221.684%22 fill=%22%23fff%22 opacity=%22.33%22%2F%3E%3Cellipse cx=%221206.26%22 cy=%22827.307%22 rx=%222.32%22 ry=%221.925%22 fill=%22%23fff%22 opacity=%22.064%22%2F%3E%3Cellipse cx=%221266.899%22 cy=%22877.709%22 rx=%221.697%22 ry=%221.627%22 fill=%22%23fff%22 opacity=%22.421%22%2F%3E%3Cellipse cx=%221463.466%22 cy=%22870.16%22 rx=%221.747%22 ry=%221.439%22 fill=%22%23fff%22 opacity=%22.55%22%2F%3E%3Cellipse cx=%221622.815%22 cy=%22796.007%22 rx=%221.675%22 ry=%221.317%22 fill=%22%23fff%22 opacity=%22.654%22%2F%3E%3Cellipse cx=%221648.114%22 cy=%22841.044%22 rx=%222.237%22 ry=%221.779%22 fill=%22%23fff%22 opacity=%22.262%22%2F%3E%3Cellipse cx=%221872.879%22 cy=%22797.591%22 rx=%222.09%22 ry=%221.775%22 fill=%22%23fff%22 opacity=%22.631%22%2F%3E%3Cellipse cx=%221967.257%22 cy=%22869.436%22 rx=%222.009%22 ry=%221.748%22 fill=%22%23fff%22 opacity=%22.542%22%2F%3E%3Cellipse cx=%2299.865%22 cy=%22965.224%22 rx=%221.178%22 ry=%221.121%22 fill=%22%23fff%22 opacity=%22.637%22%2F%3E%3Cellipse cx=%22232.888%22 cy=%22946.433%22 rx=%221.574%22 ry=%221.254%22 fill=%22%23fff%22 opacity=%22.528%22%2F%3E%3Cellipse cx=%22274.919%22 cy=%22910.206%22 rx=%222.019%22 ry=%221.795%22 fill=%22%23fff%22 opacity=%22.963%22%2F%3E%3Cellipse cx=%22449.179%22 cy=%22881.644%22 rx=%221.606%22 ry=%221.376%22 fill=%22%23fff%22 opacity=%22.865%22%2F%3E%3Cellipse cx=%22574.343%22 cy=%22930.917%22 rx=%222.075%22 ry=%221.735%22 fill=%22%23fff%22 opacity=%22.683%22%2F%3E%3Cellipse cx=%22682.699%22 cy=%22893.437%22 rx=%222.016%22 ry=%221.77%22 fill=%22%23fff%22 opacity=%22.539%22%2F%3E%3Cellipse cx=%22843.641%22 cy=%22888.877%22 rx=%221.903%22 ry=%221.665%22 fill=%22%23fff%22 opacity=%22.732%22%2F%3E%3Cellipse cx=%22947.19%22 cy=%22894.469%22 rx=%221.286%22 ry=%221.152%22 fill=%22%23fff%22 opacity=%22-.16%22%2F%3E%3Cellipse cx=%221023.28%22 cy=%22943.754%22 rx=%221.091%22 ry=%221.013%22 fill=%22%23fff%22 opacity=%22.541%22%2F%3E%3Cellipse cx=%221190.268%22 cy=%22953.556%22 rx=%222.193%22 ry=%221.933%22 fill=%22%23fff%22 opacity=%22.195%22%2F%3E%3Cellipse cx=%221254.298%22 cy=%22957.126%22 rx=%221.229%22 ry=%221.191%22 fill=%22%23fff%22 opacity=%22.378%22%2F%3E%3Cellipse cx=%221400.015%22 cy=%22901.273%22 rx=%221.049%22 ry=%221.012%22 fill=%22%23fff%22 opacity=%22.099%22%2F%3E%3Cellipse cx=%221504.176%22 cy=%22918.565%22 rx=%221.939%22 ry=%221.528%22 fill=%22%23fff%22 opacity=%22.945%22%2F%3E%3Cellipse cx=%221680.797%22 cy=%22932.764%22 rx=%221.662%22 ry=%221.633%22 fill=%22%23fff%22 opacity=%22.78%22%2F%3E%3Cellipse cx=%221842.251%22 cy=%22920.362%22 rx=%221.74%22 ry=%221.317%22 fill=%22%23fff%22 opacity=%22.005%22%2F%3E%3Cellipse cx=%221961.292%22 cy=%22960.855%22 rx=%222.019%22 ry=%221.536%22 fill=%22%23fff%22 opacity=%22-.048%22%2F%3E%3Cellipse cx=%2214.423%22 cy=%221030.245%22 rx=%222.191%22 ry=%221.837%22 fill=%22%23fff%22 opacity=%22.657%22%2F%3E%3Cellipse cx=%22134.805%22 cy=%22996.178%22 rx=%221.385%22 ry=%221.208%22 fill=%22%23fff%22 opacity=%22.851%22%2F%3E%3Cellipse cx=%22342.723%22 cy=%22985.524%22 rx=%221.078%22 ry=%221.073%22 fill=%22%23fff%22 opacity=%22.044%22%2F%3E%3Cellipse cx=%22434.891%22 cy=%221036.781%22 rx=%221.568%22 ry=%221.187%22 fill=%22%23fff%22 opacity=%22.725%22%2F%3E%3Cellipse cx=%22546.467%22 cy=%221022.542%22 rx=%221.707%22 ry=%221.527%22 fill=%22%23fff%22 opacity=%22.765%22%2F%3E%3Cellipse cx=%22710.225%22 cy=%22999.456%22 rx=%222.089%22 ry=%221.904%22 fill=%22%23fff%22 opacity=%22.647%22%2F%3E%3Cellipse cx=%22847.165%22 cy=%221011.005%22 rx=%221.422%22 ry=%221.111%22 fill=%22%23fff%22 opacity=%22-.161%22%2F%3E%3Cellipse cx=%22934.73%22 cy=%221011.07%22 rx=%221.303%22 ry=%221.105%22 fill=%22%23fff%22 opacity=%22.488%22%2F%3E%3Cellipse cx=%221075.205%22 cy=%22981.242%22 rx=%222.021%22 ry=%221.965%22 fill=%22%23fff%22 opacity=%22.718%22%2F%3E%3Cellipse cx=%221194.045%22 cy=%22971.875%22 rx=%221.71%22 ry=%221.424%22 fill=%22%23fff%22 opacity=%22.294%22%2F%3E%3Cellipse cx=%221275.036%22 cy=%22971.557%22 rx=%221.325%22 ry=%221.313%22 fill=%22%23fff%22 opacity=%22.119%22%2F%3E%3Cellipse cx=%221494.499%22 cy=%22974.266%22 rx=%221.73%22 ry=%221.406%22 fill=%22%23fff%22 opacity=%22.302%22%2F%3E%3Cellipse cx=%221510.542%22 cy=%22978.738%22 rx=%221.924%22 ry=%221.704%22 fill=%22%23fff%22 opacity=%22.578%22%2F%3E%3Cellipse cx=%221675.643%22 cy=%221029.025%22 rx=%221.702%22 ry=%221.293%22 fill=%22%23fff%22 opacity=%22.791%22%2F%3E%3Cellipse cx=%221787.569%22 cy=%221035.111%22 rx=%221.936%22 ry=%221.48%22 fill=%22%23fff%22 opacity=%22-.04%22%2F%3E%3Cellipse cx=%221908.317%22 cy=%221050.318%22 rx=%221.936%22 ry=%221.468%22 fill=%22%23fff%22 opacity=%22.194%22%2F%3E%3Cellipse cx=%229.027%22 cy=%221113.592%22 rx=%222.105%22 ry=%221.759%22 fill=%22%23fff%22 opacity=%22.65%22%2F%3E%3Cellipse cx=%22228.414%22 cy=%221062.028%22 rx=%221.53%22 ry=%221.437%22 fill=%22%23fff%22 opacity=%22.808%22%2F%3E%3Cellipse cx=%22374.597%22 cy=%221107.637%22 rx=%221.547%22 ry=%221.322%22 fill=%22%23fff%22 opacity=%22.561%22%2F%3E%3Cellipse cx=%22418.72%22 cy=%221110.506%22 rx=%221.819%22 ry=%221.537%22 fill=%22%23fff%22 opacity=%22.08%22%2F%3E%3Cellipse cx=%22621.548%22 cy=%221100.1%22 rx=%221.802%22 ry=%221.478%22 fill=%22%23fff%22 opacity=%22.045%22%2F%3E%3Cellipse cx=%22664.625%22 cy=%221134.902%22 rx=%221.339%22 ry=%221.337%22 fill=%22%23fff%22 opacity=%22.182%22%2F%3E%3Cellipse cx=%22796.104%22 cy=%221076.224%22 rx=%222.188%22 ry=%221.875%22 fill=%22%23fff%22 opacity=%22.745%22%2F%3E%3Cellipse cx=%22925.628%22 cy=%221072.636%22 rx=%221.903%22 ry=%221.464%22 fill=%22%23fff%22 opacity=%22.745%22%2F%3E%3Cellipse cx=%221061.785%22 cy=%221087.322%22 rx=%221.3%22 ry=%221.164%22 fill=%22%23fff%22 opacity=%22.071%22%2F%3E%3Cellipse cx=%221172.357%22 cy=%221066.495%22 rx=%221.801%22 ry=%221.477%22 fill=%22%23fff%22 opacity=%22.106%22%2F%3E%3Cellipse cx=%221317.236%22 cy=%221062.877%22 rx=%222.416%22 ry=%221.956%22 fill=%22%23fff%22 opacity=%22.208%22%2F%3E%3Cellipse cx=%221404.888%22 cy=%221081.913%22 rx=%221.323%22 ry=%221.301%22 fill=%22%23fff%22 opacity=%22.391%22%2F%3E%3Cellipse cx=%221611.911%22 cy=%221117.914%22 rx=%222.204%22 ry=%221.931%22 fill=%22%23fff%22 opacity=%22.343%22%2F%3E%3Cellipse cx=%221627.372%22 cy=%221077.634%22 rx=%221.575%22 ry=%221.393%22 fill=%22%23fff%22 opacity=%22.132%22%2F%3E%3Cellipse cx=%221806.22%22 cy=%221120.14%22 rx=%222.183%22 ry=%221.703%22 fill=%22%23fff%22 opacity=%22.778%22%2F%3E%3Cellipse cx=%221992.355%22 cy=%221065.534%22 rx=%221.738%22 ry=%221.635%22 fill=%22%23fff%22 opacity=%22.286%22%2F%3E%3Cellipse cx=%2246.109%22 cy=%221213.454%22 rx=%221.644%22 ry=%221.34%22 fill=%22%23fff%22 opacity=%22.13%22%2F%3E%3Cellipse cx=%22186.363%22 cy=%221164.764%22 rx=%221.896%22 ry=%221.816%22 fill=%22%23fff%22 opacity=%22.189%22%2F%3E%3Cellipse cx=%22285.305%22 cy=%221151.246%22 rx=%221.979%22 ry=%221.641%22 fill=%22%23fff%22 opacity=%22.071%22%2F%3E%3Cellipse cx=%22488.246%22 cy=%221183.064%22 rx=%221.725%22 ry=%221.641%22 fill=%22%23fff%22 opacity=%22.447%22%2F%3E%3Cellipse cx=%22565.027%22 cy=%221193.788%22 rx=%222.361%22 ry=%221.996%22 fill=%22%23fff%22 opacity=%22.166%22%2F%3E%3Cellipse cx=%22667.795%22 cy=%221222.129%22 rx=%221.562%22 ry=%221.432%22 fill=%22%23fff%22 opacity=%22.339%22%2F%3E%3Cellipse cx=%22782.375%22 cy=%221153.743%22 rx=%221.255%22 ry=%221.252%22 fill=%22%23fff%22 opacity=%22-.006%22%2F%3E%3Cellipse cx=%22924.891%22 cy=%221227.942%22 rx=%221.505%22 ry=%221.257%22 fill=%22%23fff%22 opacity=%22.061%22%2F%3E%3Cellipse cx=%221028.459%22 cy=%221208.709%22 rx=%221.545%22 ry=%221.386%22 fill=%22%23fff%22 opacity=%22-.244%22%2F%3E%3Cellipse cx=%221171.98%22 cy=%221185.359%22 rx=%221.692%22 ry=%221.3%22 fill=%22%23fff%22 opacity=%22.182%22%2F%3E%3Cellipse cx=%221346.353%22 cy=%221205.163%22 rx=%221.272%22 ry=%221.115%22 fill=%22%23fff%22 opacity=%22.666%22%2F%3E%3Cellipse cx=%221466.198%22 cy=%221228.678%22 rx=%221.271%22 ry=%221.244%22 fill=%22%23fff%22 opacity=%22.059%22%2F%3E%3Cellipse cx=%221500.845%22 cy=%221204.225%22 rx=%221.434%22 ry=%221.037%22 fill=%22%23fff%22 opacity=%22.139%22%2F%3E%3Cellipse cx=%221677.6%22 cy=%221190.669%22 rx=%222.09%22 ry=%221.674%22 fill=%22%23fff%22 opacity=%22.141%22%2F%3E%3Cellipse cx=%221778.813%22 cy=%221195.541%22 rx=%222.134%22 ry=%221.681%22 fill=%22%23fff%22 opacity=%22.142%22%2F%3E%3Cellipse cx=%221991.83%22 cy=%221202.697%22 rx=%221.151%22 ry=%221.092%22 fill=%22%23fff%22 opacity=%22-.138%22%2F%3E%3Cellipse cx=%2267.867%22 cy=%221259.139%22 rx=%221.495%22 ry=%221.468%22 fill=%22%23fff%22 opacity=%22.493%22%2F%3E%3Cellipse cx=%22149.333%22 cy=%221292.764%22 rx=%221.903%22 ry=%221.645%22 fill=%22%23fff%22 opacity=%22.28%22%2F%3E%3Cellipse cx=%22282.981%22 cy=%221317.177%22 rx=%221.9%22 ry=%221.773%22 fill=%22%23fff%22 opacity=%22.592%22%2F%3E%3Cellipse cx=%22424.313%22 cy=%221281.32%22 rx=%221.632%22 ry=%221.31%22 fill=%22%23fff%22 opacity=%22.268%22%2F%3E%3Cellipse cx=%22605.675%22 cy=%221238.982%22 rx=%221.655%22 ry=%221.482%22 fill=%22%23fff%22 opacity=%22.696%22%2F%3E%3Cellipse cx=%22738.752%22 cy=%221313.612%22 rx=%222.053%22 ry=%221.886%22 fill=%22%23fff%22 opacity=%22.879%22%2F%3E%3Cellipse cx=%22850.932%22 cy=%221304.286%22 rx=%221.491%22 ry=%221.424%22 fill=%22%23fff%22 opacity=%22.457%22%2F%3E%3Cellipse cx=%22897.685%22 cy=%221277.861%22 rx=%221.727%22 ry=%221.391%22 fill=%22%23fff%22 opacity=%22.901%22%2F%3E%3Cellipse cx=%221071.398%22 cy=%221296.675%22 rx=%221.653%22 ry=%221.604%22 fill=%22%23fff%22 opacity=%22-.082%22%2F%3E%3Cellipse cx=%221171.787%22 cy=%221253.023%22 rx=%221.3%22 ry=%221.267%22 fill=%22%23fff%22 opacity=%22.042%22%2F%3E%3Cellipse cx=%221364.382%22 cy=%221252.402%22 rx=%221.777%22 ry=%221.482%22 fill=%22%23fff%22 opacity=%22.31%22%2F%3E%3Cellipse cx=%221468.041%22 cy=%221259.72%22 rx=%221.77%22 ry=%221.543%22 fill=%22%23fff%22 opacity=%22-.18%22%2F%3E%3Cellipse cx=%221613.424%22 cy=%221305.042%22 rx=%221.81%22 ry=%221.713%22 fill=%22%23fff%22 opacity=%22.465%22%2F%3E%3Cellipse cx=%221744.002%22 cy=%221271.727%22 rx=%221.907%22 ry=%221.695%22 fill=%22%23fff%22 opacity=%22-.015%22%2F%3E%3Cellipse cx=%221872.264%22 cy=%221246.145%22 rx=%221.474%22 ry=%221.309%22 fill=%22%23fff%22 opacity=%22.591%22%2F%3E%3Cellipse cx=%221961.386%22 cy=%221239.124%22 rx=%221.502%22 ry=%221.361%22 fill=%22%23fff%22 opacity=%22.113%22%2F%3E%3Cellipse cx=%227.587%22 cy=%221341.089%22 rx=%222.068%22 ry=%221.749%22 fill=%22%23fff%22 opacity=%22.657%22%2F%3E%3Cellipse cx=%22215.76%22 cy=%221340.445%22 rx=%221.972%22 ry=%221.52%22 fill=%22%23fff%22 opacity=%22.284%22%2F%3E%3Cellipse cx=%22259.496%22 cy=%221369.691%22 rx=%221.239%22 ry=%221.036%22 fill=%22%23fff%22 opacity=%22.328%22%2F%3E%3Cellipse cx=%22395.035%22 cy=%221321.943%22 rx=%221.764%22 ry=%221.363%22 fill=%22%23fff%22 opacity=%22.405%22%2F%3E%3Cellipse cx=%22515.373%22 cy=%221337.059%22 rx=%222.266%22 ry=%221.891%22 fill=%22%23fff%22 opacity=%22.967%22%2F%3E%3Cellipse cx=%22625.865%22 cy=%221375.099%22 rx=%222.144%22 ry=%221.683%22 fill=%22%23fff%22 opacity=%22.377%22%2F%3E%3Cellipse cx=%22832.517%22 cy=%221388.901%22 rx=%221.786%22 ry=%221.406%22 fill=%22%23fff%22 opacity=%22.37%22%2F%3E%3Cellipse cx=%22978.904%22 cy=%221369.855%22 rx=%221.812%22 ry=%221.589%22 fill=%22%23fff%22 opacity=%22.864%22%2F%3E%3Cellipse cx=%221079.441%22 cy=%221354.626%22 rx=%222.215%22 ry=%221.894%22 fill=%22%23fff%22 opacity=%22.181%22%2F%3E%3Cellipse cx=%221221.717%22 cy=%221360.694%22 rx=%221.399%22 ry=%221.02%22 fill=%22%23fff%22 opacity=%22.214%22%2F%3E%3Cellipse cx=%221372.435%22 cy=%221382.301%22 rx=%221.711%22 ry=%221.612%22 fill=%22%23fff%22 opacity=%22.378%22%2F%3E%3Cellipse cx=%221428.336%22 cy=%221349.005%22 rx=%221.961%22 ry=%221.569%22 fill=%22%23fff%22 opacity=%22.306%22%2F%3E%3Cellipse cx=%221600.543%22 cy=%221331.196%22 rx=%222.235%22 ry=%221.923%22 fill=%22%23fff%22 opacity=%22-.14%22%2F%3E%3Cellipse cx=%221633.945%22 cy=%221341.215%22 rx=%221.571%22 ry=%221.534%22 fill=%22%23fff%22 opacity=%22.252%22%2F%3E%3Cellipse cx=%221799.253%22 cy=%221397.661%22 rx=%221.453%22 ry=%221.288%22 fill=%22%23fff%22 opacity=%22.254%22%2F%3E%3Cellipse cx=%221926.664%22 cy=%221334.13%22 rx=%221.998%22 ry=%221.6%22 fill=%22%23fff%22 opacity=%22.083%22%2F%3E%3Cg transform=%22rotate(-60.233 548.525 -812.118)%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 x1=%220%22 y1=%221%22 x2=%22317.571%22 y2=%221%22 gradientUnits=%22userSpaceOnUse%22%3E%3Cstop stop-color=%22%23fff%22%2F%3E%3Cstop offset=%22.3%22 stop-color=%22%23fff%22 stop-opacity=%22.1%22%2F%3E%3Cstop offset=%22.7%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Crect x=%22-15.879%22 y=%22-12.5%22 width=%22127.029%22 height=%2225%22 rx=%2225%22 ry=%2225%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22190.543%22 height=%228%22 rx=%228%22 ry=%228%22 fill=%22url(%23a)%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-58.554 1228.854 -1162.95)%22 fill=%22url(%23a)%22%3E%3Crect x=%22-11.4%22 y=%22-12.5%22 width=%2291.2%22 height=%2225%22 rx=%2225%22 ry=%2225%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22136.799%22 height=%228%22 rx=%228%22 ry=%228%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-62.423 970.636 -338.403)%22 fill=%22url(%23a)%22%3E%3Crect x=%22-16.031%22 y=%22-12.5%22 width=%22128.25%22 height=%2225%22 rx=%2225%22 ry=%2225%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22192.375%22 height=%228%22 rx=%228%22 ry=%228%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-63.682 736.644 412.322)%22 fill=%22url(%23a)%22%3E%3Crect x=%22-17.239%22 y=%22-12.5%22 width=%22137.909%22 height=%2225%22 rx=%2225%22 ry=%2225%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22206.864%22 height=%228%22 rx=%228%22 ry=%228%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-60.174 1199.473 316.224)%22 fill=%22url(%23a)%22%3E%3Crect x=%22-11.898%22 y=%22-12.5%22 width=%2295.18%22 height=%2225%22 rx=%2225%22 ry=%2225%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22142.77%22 height=%228%22 rx=%228%22 ry=%228%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

/* Loader */
.cubes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
}

.loop {
  transform: rotateX(-35deg) rotateY(-45deg) translateZ(1.5625em);
}

@keyframes s {
  to {
    transform: scale3d(0.2, 0.2, 0.2);
  }
}

.item {
  margin: -1.5625em;
  width: 3.125em;
  height: 3.125em;
  transform-origin: 50% 50% -1.5625em;
  box-shadow: 0 0 0.125em currentColor;
  background: currentColor;
  animation: s 0.6s cubic-bezier(0.45, 0.03, 0.51, 0.95) infinite alternate;
}

.item:before,
.item:after {
  position: absolute;
  width: inherit;
  height: inherit;
  transform-origin: 0 100%;
  box-shadow: inherit;
  background: currentColor;
  content: "";
}

.item:before {
  bottom: 100%;
  transform: rotateX(90deg);
}

.item:after {
  left: 100%;
  transform: rotateY(90deg);
}

.item:nth-child(1) {
  margin-top: 6.25em;
  color: #fe1e52;
  animation-delay: -1.2s;
}

.item:nth-child(1):before {
  color: #ff6488;
}

.item:nth-child(1):after {
  color: #ff416d;
}

.item:nth-child(2) {
  margin-top: 3.125em;
  color: #fe4252;
  animation-delay: -1s;
}

.item:nth-child(2):before {
  color: #ff8892;
}

.item:nth-child(2):after {
  color: #ff6572;
}

.item:nth-child(3) {
  margin-top: 0em;
  color: #fe6553;
  animation-delay: -0.8s;
}

.item:nth-child(3):before {
  color: #ffa499;
}

.item:nth-child(3):after {
  color: #ff8476;
}

.item:nth-child(4) {
  margin-top: -3.125em;
  color: #fe8953;
  animation-delay: -0.6s;
}

.item:nth-child(4):before {
  color: #ffb999;
}

.item:nth-child(4):after {
  color: #ffa176;
}

.item:nth-child(5) {
  margin-top: -6.25em;
  color: #feac54;
  animation-delay: -0.4s;
}

.item:nth-child(5):before {
  color: #ffce9a;
}

.item:nth-child(5):after {
  color: #ffbd77;
}

.item:nth-child(6) {
  margin-top: -9.375em;
  color: #fed054;
  animation-delay: -0.2s;
}

.item:nth-child(6):before {
  color: #ffe49a;
}

.item:nth-child(6):after {
  color: #ffda77;
}

#overlayOff {
  display: none;
}

#overlay {
  display: block;
}

/* page */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10rem;
  color: var(--clear-blue);
  font-size: 2.1rem;
  font-weight: 900;
  text-transform: uppercase;
  z-index: -1;
}

.main {
  background-color: var(--dark-blue);
  width: 90vw;
  max-width: 1048px;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  transform: translateY(-4rem);
}

#header {
  background-color: var(--tangerine);
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header > nav > ul > li > a {
  color: var(--dark-blue);
  text-decoration: none;
  margin: 0 1rem;
}

#header > nav > ul > li > a:hover {
  color: var(--dark-blue);
  text-decoration: none;
  margin: 0 1rem;
  font-weight: 900;
}

#menu {
  display: none; /* Esconde o menu por padrão */
  flex-direction: column; /* Alinha os itens em coluna */
  position: absolute; /* Permite posicionar o menu sobre outros elementos */
  top: 1rem; /* Ajusta a posição abaixo do header */
  left: 0;
  background-color: var(--tangerine); /* Cor de fundo para o menu */
  width: 100%; /* Largura completa */
  z-index: 1000; /* Garante que o menu fique acima de outros elementos */
  list-style: none;
  text-align: center;
  line-height: 5rem;
}

#mbMenu {
  border: none;
  background-color: #fbf4f400;
  color: var(--dark-blue);
  font-weight: 900;

}

#mbMenu:hover {
  cursor: pointer;
}

#hidden {
  display: none;
}

.header {
  color: var(--white);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  padding-top: 3rem;
}

.about {
  color: var(--white);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.stacks {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2dae9c;
  padding: 5rem 0;
}

.specialization > h3 {
  font-size: 2rem;
  color: var(--white);
  display: flex;
  justify-content: center;
}

.specialization > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.specialization > ul > li {
  color: var(--white);
  margin: 0.4rem 1rem;
  list-style: none;
  padding: 0.5rem;
  background: rgba(245, 148, 101, 0.54);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid var(--white);
}

.technology > h3 {
  margin-top: 3rem;
  font-size: 2rem;
  color: var(--white);
  display: flex;
  justify-content: center;
}

.technology > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
}

.technology > ul > li {
  color: var(--white);
  margin: 0.4rem 1rem;
  list-style: none;
  padding: 0.5rem;
  background: rgba(32, 172, 140, 1);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid var(--white);
}

.separation {
  width: 100%;
  transform: translateY(8px);
}

.separation2 {
  width: 100%;
}

.dropshadow {
  filter: drop-shadow(-2px 7px 5px #000000);
}

.projects {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 25rem;
  height: fit-content;
  min-height: 40rem;
  padding: 0 2rem;
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(32, 172, 140, 0.58);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(32, 172, 140, 1);
}

.card > img {
  width: 100%;
  display: flex;
  position: fixed;
  top: 2rem;
  padding: 0 0.5rem;
}

.card > h2 {
  color: var(--white);
  text-transform: uppercase;
  margin-top: 1rem;
}

.line {
  width: 100%;
  background-color: var(--clear-blue);
  height: 2px;
}

.card > p {
  margin: 1rem 0;
  font-weight: 500;
  color: var(--white);
}

.card > a {
  text-decoration: none;
  padding: 1rem;
  background-color: var(--tangerine);
  border-radius: 2rem;
  font-weight: 900;
  color: var(--dark-blue);
  position: fixed;
  bottom: 2rem;
}

.card > a:hover {
  background-color: var(--clear-blue);
  color: var(--white);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact > h2 {
  color: var(--white);
  font-weight: 700;
  margin-bottom: 1rem;
}

.contact > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.contact > ul > li {
  margin: 1.5rem;
}

.contact > ul > li > span > a > img {
  height: 4rem;
}

/*Tooltips*/

[data-tooltip] {
  position: relative;
  cursor: pointer;
}
[data-tooltip]::before,
[data-tooltip]::after {
  text-transform: none;
  font-size: 0.9em;
  line-height: 1;
  position: absolute;
  display: none;
  opacity: 0;
  filter: drop-shadow(0px 2px 2px #800000);
}
[data-tooltip]::before {
  content: "";
  border: 6px solid transparent;
  z-index: 101;
}
[data-tooltip]::after {
  content: attr(data-tooltip);
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 6px 8px;
  border-radius: 3px;
  background: #f59465;
  color: #fbf4f4;
  z-index: 100;
  text-shadow: 1px 1px 2px #000000;
}
[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
  display: block;
}
[data-tooltip=""]::before,
[data-tooltip=""]::after {
  display: none !important;
}
[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow^="top"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #f59465;
}
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow^="top"]::after {
  bottom: calc(100% + 5px);
}
[data-tooltip]:not([data-flow])::before,
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow^="top"]::before,
[data-tooltip][data-flow^="top"]::after {
  left: 50%;
  transform: translate(-50%, -0.4em);
}
[data-tooltip][data-flow^="bottom"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #f59465;
}
[data-tooltip][data-flow^="bottom"]::after {
  top: calc(100% + 5px);
}
[data-tooltip][data-flow^="bottom"]::before,
[data-tooltip][data-flow^="bottom"]::after {
  left: 50%;
  transform: translate(-50%, 0.4em);
}
[data-tooltip][data-flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #f59465;
  left: calc(0em - 5px);
  transform: translate(-0.5em, -50%);
}
[data-tooltip][data-flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-0.4em, -50%);
}
[data-tooltip][data-flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #f59465;
  right: calc(0em - 7px);
  transform: translate(0.4em, -50%);
}
[data-tooltip][data-flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(0.5em, -50%);
}
@keyframes tooltip-vert {
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
@keyframes tooltip-horz {
  to {
    opacity: 1;
    transform: translate(0, -50%);
  }
}
[data-tooltip]:not([data-flow]):hover::before,
[data-tooltip]:not([data-flow]):hover::after,
[data-tooltip][data-flow^="top"]:hover::before,
[data-tooltip][data-flow^="top"]:hover::after,
[data-tooltip][data-flow^="bottom"]:hover::before,
[data-tooltip][data-flow^="bottom"]:hover::after {
  animation: tooltip-vert 0.5s ease-out forwards;
}
[data-tooltip][data-flow^="left"]:hover::before,
[data-tooltip][data-flow^="left"]:hover::after,
[data-tooltip][data-flow^="right"]:hover::before,
[data-tooltip][data-flow^="right"]:hover::after {
  animation: tooltip-horz 0.5s ease-out forwards;
}

@media (min-width: 320px) and (max-width: 375px) {
  .title {
    font-size: 1.5rem;
  }
  .header > h2 {
    font-size: 2rem;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .title {
    font-size: 3rem;
  }
  .header > h2 {
    font-size: 4rem;
  }

  #menu {
    display: flex;
    flex-direction: row;
  }

  #menu > li {
    margin-left: 1rem;
    list-style: none;
    display: block;
    height: 100%;
    color: var(--dark-blue);
    font-weight: 900;
  }

  #menu > li:hover {
    color: var(--white);
    background-color: var(--green);
    text-underline-position: above;
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  #mbMenu {
    display: none;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 4rem;
  }
  .header > h2 {
    font-size: 4rem;
  }

  #menu {
    display: flex; /* Mostra o menu automaticamente em telas maiores */
    flex-direction: row; /* Alinha os itens em linha */
    position: static; /* Remove o posicionamento absoluto */
    background-color: transparent; /* Remove a cor de fundo */
    width: 100%; /* Ajusta a largura automaticamente */
  }

  #menu > li {
    margin-left: 1rem;
    list-style: none;
    display: block;
    height: 100%;
    color: var(--dark-blue);
    font-weight: 900;
  }

  #menu > li:hover {
    color: var(--white);
    background-color: var(--green);
    text-underline-position: above;
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  #mbMenu {
    display: none;
  }
}
